.Row {
  margin: 1em;

  .Row__title {
    color: #fff;
    margin-top: 0;
    font-size: 1.3rem;
  }

  .Row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;

    //Hide the scrollbar
    &::-webkit-scrollbar {
      display: none;
    }

    .Row__poster {
      width: 100%;
      max-height: 100px;
      object-fit: contain;
      margin-right: 10px;
      transition: transform 450ms;
  
       
      &:hover {
        transform: scale(0.88);
-webkit-box-shadow: 0px -1px 30px 0px rgba(0, 234, 255, 0.4);
-moz-box-shadow: 0px -1px 30px 0px rgba(0, 234, 255, 0.4);
box-shadow: 0px -1px 30px 0px rgba(0, 234, 255, 0.4);
        transition: transform 450ms;
        border: none;
      }
    }

    .Row__posterLarge {
      max-height: 250px;
    }
  }
}
